/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Customized By: Scott Fuston
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 2.8rem;
}
h1 {
  font-size: 4rem;
  color: #999;
}
h2 {
  font-size: 3.8rem;
  color: #999;
}
h3 {
  font-size: 3.8rem;
  color: #999;
}
h4 {
  font-size: 3rem;
  color: #666;
}
h5 {
  font-size: 2.8rem;
  color: lightGray;
}
p {
  font-size: 2.5rem;
  color: #333;
}
a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #333;
}
input {
  padding: 2%;
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  padding: 5% 2%;
  background-color: #555555;
  background-image: url(../assets/images/abstract2.png);
  background-position: center;
  background-size: cover;
  border-right: 5px solid #e16f00;
}
@media (max-width: 800px) {
  .main-header {
    display: none;
  }
}
.main-header .headerTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header .headerTop .headerImg {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 3% 0;
}
.main-header .headerTop .headerImg img {
  width: 100%;
}
.main-header .headerTop .headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-header .headerTop .headerText h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 3% 0;
  color: dodgerblue;
}
.main-header .headerTop .headerText h2 {
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  color: #999;
}
.main-header nav {
  margin: 8% 0 10% 0;
  width: 100%;
}
.main-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
@media (max-width: 970px) {
  .main-header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main-header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header nav ul li a {
  color: lightGray;
  font-size: 2rem;
}
.main-header nav ul li a:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #e16f00;
}
.main-header .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.main-header .socialMedia a {
  margin: 0 8% 0 0%;
}
.main-header .socialMedia a:hover {
  color: lightGray;
}
.mobile-header {
  background-color: lightblue;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 2%;
  background-color: #555555;
  background-image: url(../assets/images/abstract2.png);
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid #e16f00;
}
@media (max-width: 800px) {
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 560px) {
  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .mobile-header {
    padding: 3% 2%;
  }
}
@media (max-width: 560px) {
  .mobile-header h1 {
    margin: 3% 0 3% 0;
  }
}
.mobile-header nav {
  width: 50%;
  margin: 0 1% 0 0;
  height: 0px;
}
@media (max-width: 650px) {
  .mobile-header nav {
    width: 60%;
  }
}
@media (max-width: 560px) {
  .mobile-header nav {
    width: 100%;
    height: 0px;
    opacity: 0;
  }
}
@media (max-width: 350px) {
  .mobile-header nav {
    margin: 0 0 0 0;
  }
}
.mobile-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 560px) {
  .mobile-header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: centert;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .mobile-header nav ul {
    padding: 8% 0 0 0;
  }
}
.mobile-header nav ul li {
  margin: 0 2% 0 0;
}
@media (max-width: 560px) {
  .mobile-header nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: centert;
    width: 100%;
    text-align: center;
    margin: 0 0 2% 0;
  }
  .mobile-header nav ul li:last-child {
    margin-bottom: 1px;
  }
}
.mobile-header nav ul li a {
  color: #eee;
  padding: 2%;
}
@media (max-width: 560px) {
  .mobile-header nav ul li a {
    background-color: #555555;
    width: 100%;
  }
}
.mobile-header nav ul li a:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #e16f00;
}
.mobile-header .nav-button {
  display: none;
  font-size: 2.5rem;
  color: #eee;
  border: 1px solid #eee;
  padding: 1%;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.mobile-header .nav-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 560px) {
  .mobile-header .nav-button {
    display: block;
  }
}
.siteCont {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 800px) {
  .siteCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.mainCont {
  width: 70%;
  max-width: 100%;
  border-left: 3px solid #555555;
}
@media (max-width: 800px) {
  .mainCont {
    width: 100%;
    border: none;
  }
}
.contact .fab {
  font-size: 2.8rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  border-bottom: 1px dotted dodgerblue;
  text-align: center;
  padding: 5% 2%;
}
.section1 {
  background-color: #eee;
  height: auto;
}
.section1 .aboutTop {
  width: 100%;
  height: 40%;
}
@media (max-width: 650px) {
  .section1 .aboutTop {
    height: 50%;
  }
}
@media (max-width: 500px) {
  .section1 .aboutTop {
    height: 60%;
  }
}
.section1 .aboutTop h3 {
  margin: 0 0 3% 0;
}
@media (max-width: 650px) {
  .section1 .aboutTop h3 {
    margin: 0 0 8% 0;
  }
}
@media (max-width: 350px) {
  .section1 .aboutTop h3 {
    margin: 10% 0 8% 0;
  }
}
.section1 .aboutTop p {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 3% 0;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 650px) {
  .section1 .aboutTop p {
    padding: 0 0 8% 0;
  }
}
.section1 .contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 350px) {
  .section1 .contact {
    padding: 10% 0 0 0;
  }
}
.section1 .contact h3 {
  margin: 5% 0 3% 0;
}
@media (max-width: 970px) {
  .section1 .contact h3 {
    margin: 0 0 5% 0;
  }
}
@media (max-width: 650px) {
  .section1 .contact h3 {
    margin: 8% 0 8% 0;
  }
}
.section1 .contact .contactInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 970px) {
  .section1 .contact .contactInfo a {
    margin: 0 0 2% 0;
  }
}
@media (max-width: 970px) {
  .section1 .contact .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section1 .contact .contactInfo address {
  font-size: 2.5rem;
  color: #333;
}
.section2 {
  height: 100%;
}
.section2 h3 {
  margin: 0 0 3% 0;
}
@media (max-width: 650px) {
  .section2 h3 {
    margin: 0 0 8% 0;
  }
}
@media (max-width: 350px) {
  .section2 h3 {
    margin: 10% 0 8% 0;
  }
}
.section2 .projectCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.section2 .projectCont .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  margin: 0 0 5% 0;
}
@media (max-width: 970px) {
  .section2 .projectCont .project {
    width: 43%;
  }
}
@media (max-width: 650px) {
  .section2 .projectCont .project {
    width: 100%;
  }
}
.section2 .projectCont .project h4 {
  margin: 0 0 3% 0;
}
@media (max-width: 650px) {
  .section2 .projectCont .project h4 {
    font-size: 2.3rem;
  }
}
.section2 .projectCont .project .imgCont {
  width: 100%;
  overflow: hidden;
  margin: 0 0 3% 0;
  position: relative;
  border-radius: 5px;
}
.section2 .projectCont .project .imgCont .upperSpan {
  text-align: center;
  width: 100%;
  background-color: #000;
  color: #999;
  font-size: 1.8rem;
  padding: 2% 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
}
.section2 .projectCont .project .imgCont .upperSpan a {
  color: #999;
  font-size: 1.8rem;
  text-decoration: underline;
}
.section2 .projectCont .project .imgCont .lowerSpan {
  text-align: center;
  width: 100%;
  background-color: #000;
  color: #eee;
  font-size: 2.5rem;
  padding: 0;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
}
.section2 .projectCont .project .imgCont .lowerSpan a {
  color: #999;
  font-size: 1.8rem;
  text-decoration: underline;
}
.section2 .projectCont .project .imgCont .lowerSpan a:hover {
  text-decoration: underline;
}
.section2 .projectCont .project .imgCont .lowerSpan a .fas {
  color: #999;
}
.section2 .projectCont .project .imgCont a img {
  width: 100%;
}
.section3 {
  background-color: #eee;
}
@media (max-width: 850px) {
  .section3 {
    height: auto;
  }
}
.section3 h3 {
  margin: 0 0 3% 0;
}
@media (max-width: 650px) {
  .section3 h3 {
    margin: 0 0 8% 0;
  }
}
@media (max-width: 350px) {
  .section3 h3 {
    margin: 10% 0 8% 0;
  }
}
.section3 p {
  border-bottom: 1px solid #ddd;
  padding: 0 0 3% 0;
  width: 80%;
}
.section3 .skillCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 5% 0 0 0;
}
@media (max-width: 850px) {
  .section3 .skillCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.section3 .skillCont .skill {
  width: 30%;
  margin: 0 0 5% 0;
}
@media (max-width: 850px) {
  .section3 .skillCont .skill {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .section3 .skillCont .skill {
    width: 100%;
    margin: 0 0 15% 0;
  }
}
.section3 .skillCont .skill .fab,
.section3 .skillCont .skill .fas {
  font-size: 4.5rem;
  margin: 0 0 3% 0;
}
footer {
  background-color: #000;
  width: 100%;
  padding: 2%;
  text-align: center;
}
@media (max-width: 350px) {
  footer {
    padding: 5% 2%;
  }
}
footer p {
  width: 100%;
}
