@import '../../../../sass/vars.scss';
@import '../../../../sass/mix-ins.scss';

.navMainCont {
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 12% 0;

  .slogan {
    width: 100%;
    font-style: italic;
    margin-bottom: 10px;

    @include media(320px) {
      display: none;
    }
  }

  hr {
    background-image: linear-gradient(90deg, transparent, white, transparent);
    border: 0;
    height: 1px;
    margin: 10px auto;
    width: 60%;
  }

  nav {
    width: 100%;
    text-align: center;
    @include dFlex(row, center, center);


    ul {
      @include dFlex(row, center, center);
      list-style-type: none;

      li {
        margin-right: 15px;
        @include dFlex(row, space-evenly, center);

        &:last-child {
          margin-right: 0;
        }

        a:hover {
          color: $darkBlue;
        }
      }

      //end li
    }

    //end ul
  }

  //end nav
}

//end navMainCont