@import '../../../../sass/vars.scss';
@import '../../../../sass/mix-ins.scss';

.navMainCont {
  position: absolute;
  top: 30%;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 2%;
  margin: 0 auto;

  @include media(600px) {
    top: 5%;
    width: 70%;
  }

  .slogan {
    max-width: 100%;
    font-style: italic;
    margin-bottom: 10px;

    @include media(380px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  hr {
    background-image: linear-gradient(90deg, transparent, white, transparent);
    border: 0;
    height: 1px;
    margin: 10px auto;
    width: 60%;
  }

  nav {
    width: 100%;

    ul {
      width: 100%;
      @include dFlex(row, center, center);
      list-style-type: none;

      li {
        margin-right: 15px;
        @include dFlex(row, space-evenly, center);

        &:last-child {
          margin-right: 0;
        }

        a:hover {
          color: $darkBlue;
        }
      }

      //end li
    }

    //end ul
  }

  //end nav
}

//end navMainCont