//google fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins&display=swap');

.App{
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  @include dFlex(column, center, center);
}//end App