@import './reset.scss';
@import './vars.scss';
@import './mix-ins.scss';

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

p{
  color: $pColor;
  font-size: $pSize;
}

a{
  color: $aColor;
  font-size: $aSize;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

h1{
  color: $h1Color;
  font-size: $h1Size;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  color: $h2Color;
  font-size: $h2Size;
}

h3 {
  color: $h3Color;
  font-size: $h3Size;
}

h4 {
  color: $h4Color;
  font-size: $h4Size;
}

h5 {
  color: $h5Color;
  font-size: $h5Size;
}

// form styles //

input{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: $pSize;
  color: $pColor;

}

form{

  label{
    font-size: $pSize;
    color: $labelColor;
  }

  button{
    @include buttonStyles;
  }//end button
}//end form