
.headerCont {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: $black;
  margin-bottom: 5%;
  padding: 8% 2% 0 2%;

  .slogan {
    width: 100%;
    font-style: italic;
    margin: 25px 0 25px 0;

    @include media(320px) {
      display: none;
    }
  }

  hr {
    background-image: linear-gradient(90deg, transparent, white, transparent);
    border: 0;
    height: 1px;
    margin: 10px auto;
    width: 80%;
  }
}