
.projectCard{
  width: 30%;
  min-width: 30%;
  margin-bottom: 30px;
  border: 1px solid Green;
  border-radius: 5px 5px 0 0 ;
  position: relative;

  button{
    background-color: $blue;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  @include media(870px){
    margin: 10px;
    width: 45%;
  }

  @include media(610px){
    width: 100%;
    margin: 0 auto 30px auto;
  }

  &:hover .description{
    height: auto;
    max-height: 300px;
  }

  .description{
    position: absolute;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background-color: rgba(0, 0, 0, 0.8);
    @include dFlex(column, center, center);
    width: 100%;
    transition: max-height 0.8s ease;
    height: auto;
    max-height: 0;
    z-index: 2;
    overflow: hidden;

    @include media(610px){
      position: relative;
    }

    p{
      padding: 2%;
      color: #ddd;
      z-index: 2;
    }
  }

  img{
    width: 100%;
  }
  
  .linksCont{
    width: 100%;
    padding: 0 1%;
    @include dFlex(row, space-evenly, center);
    flex-wrap: wrap;

    a{
      margin-right: 1%;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}