.siteCont{ // contains entire site, including header but NOT footer
    position: relative;
    .dFlex(row, flex-end, center);
    max-width: 100%;
    width: 100%;
}

.mainCont{ //contains all main content except for header and footer
    width: 70%;
    border-left: 3px solid @gray;
}

.contact .fab{
    font-size: 2.8rem;
}

section{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    border-bottom: 1px solid #333;
    text-align: center;
    padding: 2%;

}//end section

.section1{
    background-color: @white;
    .dFlex(column, space-evenly, center);

    .aboutTop{
        padding: 5% 0;
        width: 100%;
        height: 50%;

        h3{
            margin: 0 0 3% 0;
        }
        p{
            width: 80%;
            margin: 0 auto;
            padding: 0 0 3% 0;
            border-bottom: 1px solid #ddd;
        }
    }//end aboutTop

    .contact{
        width: 100%;
        height: 30%;
        .dFlex(column, flex-start, center);

        h3{
            margin: 0 0 3% 0;
        }

        .contactInfo{
            width: 100%;
            .dFlex(row, space-evenly, center);
    
            address{
                font-size: @pSize;
                color: @pColor;
            }
        }//end contactInfo
    }//end contact
}//end section1

.section2{


}//end section2

.section3{
    .dFlex(column, space-evenly, center);

    h3{
        margin: 0 0 3% 0;
    }

    p{
        border-bottom: 1px solid #ddd;
        padding: 0 0 3% 0;
        width: 80%;
    }

    .skillCont{
        .dFlex(row, space-between, center);
        flex-wrap: wrap;
        width: 100%;
        padding: 3% 0 0 0;

        .skill{
            width: 30%;
            margin: 0 0 5% 0;

            .fab, .fas{
                font-size: 4.5rem;
                margin: 0 0 3% 0;
            }

        }// end skill

    }//end skillCont

}//end section3
