.mobile-header{
        background-color: lightblue;
        width: 100%;
        padding: 2%;
        background-color: @gray;
        background-image: url(../assets/images/abstract2.png);
        background-position: center;
        background-size: cover;
        border-bottom: 5px solid @orange;


        @media @tablet{
                .dFlex(row, space-between, center); 
        }

        @media @560{
                .dFlex(column, space-evenly, center);
                padding: 0;
        }

        h1{
                @media @560{
                        margin: 3% 0 3% 0;
                }
        }

        nav{
                width: 50%;
                margin: 0 1% 0 0;

                @media @650{
                        width: 60%;
                }

                @media @560{
                        width: 100%;
                        height: 0px;
                        opacity: 0;
                }

                ul{
                        .dFlex(row, space-evenly, center);

                        @media @560{
                                .dFlex(column, space-evenly, centert);
                                width: 100%;;
                        }
                        
                        li{
                                margin: 0 2% 0 0;

                                @media @560{
                                        .dFlex(column, space-evenly, centert);
                                        width: 100%;;
                                }
                                
                                @media @560{
                                        width: 100%;
                                        text-align: center;
                                        margin: 0 0 2% 0;

                                        &:last-child{
                                                margin-bottom: 1px;
                                        }
                                }

                                a{
                                        color: @white;
                                        padding: 2%;

                                        @media @560{
                                                background-color: @gray;
                                                width: 100%;
                                        }

                                        &:hover{
                                                cursor: pointer;
                                                opacity: 0.8;
                                                color: @orange;
                                            }
                                }//end a

                                
                        }// end li

                }// end ul

        }//end nav

        .nav-button{
                display: none;
                font-size: @pSize;
                color: @white;
                border: 1px solid @white;
                padding: 1%;
                border-radius: 3px;
                position: absolute;
                top: 10px;
                right: 10px;

                &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                }

                @media @560{
                        display: block;
                }

        }//end .nav-button


}//end mobile-header