// /////////////// main color pallet vars /////////////////
@blue: dodgerblue;
@gray: rgb(85, 85, 85);
@black: #000;
@orange: #e16f00;
@white: #eee;


// /////////////// font color vars ///////////////

@h1Color: #999;

@h2Color: #999;

@h3Color: #999;

@h4Color: #666;

@h5Color: lightGray;

@pColor: #333;

// /////////////// font size vars ///////////////

@h1Size: 4rem;

@h2Size: 3.8rem;

@h3Size: 3.8rem;

@h4Size: 3rem;

@h5Size: 3.8rem;

@pSize: 2.5rem;

@med: 2rem;

@small: 1.8rem;

// /////////////// font family vars ///////////////

@fontFamily: 'PT Sans Narrow', sans-serif;


// /////////////// media queries ///////////////

@970: ~'(max-width: 970px)';

@tablet: ~'(max-width: 800px)';

@mobile: ~'(max-width: 500px)';