@import '../../../sass/vars.scss';
@import '../../../sass/mix-ins.scss';

.headerCont {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: $black;
    margin-bottom: 5%;
    overflow: hidden;
    @include dFlex(row, center, center);

    @include media('600px'){
      height: 40vh;
    }
}