@import '../../sass/vars.scss';
@import '../../sass/mix-ins.scss';

.contactCont {
  @include dFlex(column, flex-start, center);
  height: auto;
  min-width: 100%;
  padding: 0 100px 5% 100px;
  background-color: #f7f7f7;


  .contactContentCont {
    @include dFlex(row, space-evenly, flex-start);
    width: 100%;

    @include media(750px) {
      @include dFlex(column, center, center);
    }

    .contactLeft {
      @include dFlex(column, flex-start, center);
      text-align: left;
      width: 50%;

      @include media(750px) {
        width: 100%;
      }

      .contactIcon {
        font-size: 4rem;
        margin-right: 5px;

        @include media(1600px) {
          font-size: 2.4rem;
        }
      }

      //end contactIcon

      ul {
        width: 100%;
        list-style-type: none;

        @include media(750px) {
          @include dFlex(row, space-evenly, center);
          flex-wrap: wrap;
        }

        li {
          margin: 0 10px 50px 0;

          a.contactLinks {
            color: $pColor;
            font-size: $aSize;

            &:hover {
              cursor: pointer;
              color: #333;
            }
          }
        }

        //end li

      }

      //end ul
    }

    //end contactSideBar

    .contactRight {
      width: 50%;
      @include dFlex(column, flex-start, center);

      @include media(750px) {
        width: 100%;
        margin: 25px 0 0 0;
      }
    }

    //end contactRight

  }

  //end contactContentCont
}

//end contactCont