@import '../sass/mix-ins.scss';

.aboutCont{
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
  @include dFlex(column, flex-start, center);
  padding: 0 25px;

  .aboutText{
    width: 700px;
    max-width: 100%;

    p{
      text-align: left;
    }
  }//end aboutText
}// end aboutCont