@import '../sass/vars.scss';

.navMainCont{
  width: 50%;
  margin: 0 auto;
  background-color: #222;

  hr {
    background-image: linear-gradient(90deg,transparent, white, transparent);
    border: 0;
    height: 1px;
    margin: 0 auto;
    width: 80%;
    margin: 10px 0;
  }
}//end navMainCont