@import '../sass/vars.scss';
@import '../sass/mix-ins.scss';

.skillsCont {
  min-height: 100vh;
  min-width: 100%;
  padding: 0 10px 25px 10px;
  @include dFlex(column, flex-start, center);

  .skills {
    max-width: 100%;
    @include dFlex(row, space-evenly, flex-start);
    flex-wrap: wrap;

    .skillsIcon {
      width: 100%;
      @include dFlex(row, center, center);
      font-size: $h1Size;
      color: $h4Color;
    }
  }

  .skill {
    text-align: left;
    width: 40%;
    padding: 0 10px;
    margin: 25px;

    @include media(760px){
      min-width: 300px;
    }

    ul {
      list-style-type: none;
      text-align: left;
      border: 1px solid #aaa;
      border-radius: 5px;

      .dark {
        background-color: $gray;
        color: $white;
      }

      .light {
        background-color: $white;
        color: $gray;
      }

      li {
        text-align: center;
        font-size: $pSize;
        color: $pColor;
      }
    }

    h5 {
      text-align: center;
    }
  }

}