@import '../sass/vars.scss';
@import '../sass/mix-ins.scss';

.skillsCont{
  min-height: 100vh;
  min-width: 100%;
  padding: 0 25px;
  @include dFlex(column, flex-start, center);

  .skills{
    width: 100%;
    @include dFlex(row, space-evenly, flex-start);
    flex-wrap: wrap;
  }

  div{
    text-align: left;
    width: 40%;
    padding: 0 10px;
    margin: 25px;
  }

  ul{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;

    li{
      font-size: $pSize;
      color: $pColor;
    }
  }

}