@import '../sass/vars.scss';
@import '../sass/mix-ins.scss';

.skillsCont{
  min-height: 100vh;
  min-width: 100%;
  padding: 0 25px;
  @include dFlex(column, flex-start, center);

  .skills{
    width: 100%;
    @include dFlex(row, space-evenly, flex-start);
    flex-wrap: wrap;

    .skillsIcon{
      width: 100%;
      @include dFlex(row, center, center);
      font-size: $h4Size;
      color: $h4Color;
    }
  }

  div{
    text-align: left;
    width: 40%;
    padding: 0 10px;
    margin: 25px;

    h5{
      text-align: center;
    }
  }

  ul{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;

    li{
      font-size: $pSize;
      color: $pColor;
    }
  }

}